<div class="about-us"style="height: 500px;">
    <div class="background-image"></div>
    <div class="container">
      <h1 style="    justify-content: center;
      padding-top: 250px;
      font-size: 100px;
      font-family: revert;
      font-weight: 600;">About Us</h1>
      <!-- Other content of the About Us section -->
    </div>
  </div>



  <div class="container" style="margin-top: 100px;">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
            <i class="fas fa-user"></i>
          <h1>Master Chefs</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <i class="fas fa-clock"></i>
          <h1>24/7 Service</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <i class="fas fa-utensils"></i>
          <h1>Quality Food</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <i class="fas fa-shopping-cart"></i>
          <h1>Online Order</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
  











  <div class="container" style="    margin-top: 150px;">
    <div class="row">
      <!-- Picture Section -->
      <div class="col-md-6">
        <div class="picture-container" style="padding: 0 15px;"#imagesContainer>
          <div class="picture-grid">
            <img src="..\assets\about-1.jpg" alt="Picture 1" style="    width: 400px;
            height: 200px;
            /* margin-left: -300p"class="image-animation">
            <img src="..\assets\about-2.jpg" alt="Picture 2" style="    /* padding-left: 10px; */
            width: 150px;
        "class="image-animation">
            <img src="..\assets\about-3.jpg" alt="Picture 3" style="margin-left: -150px;"class="image-animation">
            <img src="..\assets\about-4.jpg" alt="Picture 4" style="width: 450px;
            height: 310px;"class="image-animation">
          </div>
        </div>
      </div>
  
      <!-- Right Section -->
      <div class="col-md-6">
        <div class="right-content">
          <h1 style="color: black; font-size: 45px; font-weight: 700; font-family: sans-serif;">
            Welcome to <i class="fas fa-utensils" style="color:orange"></i> Restoran
          </h1>
          <p style="font-size: 25px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
          <div class="info-box-container" style="margin-bottom: 50px;
          padding-top: 60px;
      ">
       <div class="info-box">
        <h2>Number of Experiences</h2>
        <div class="experience-box"style="font-size: 25px;">{{ currentExperience }}</div>
      </div>
        
        <div class="info-box">
          <h2>Popular Master Chefs</h2>
          <div class="chef-box" style="font-size: 25px;">{{  currentChefs }}</div>
        </div>
          </div>
          <button class="read-more-btn">READ MORE</button>
        </div>
      </div>
    </div>
  </div>
  