<div class="about-us"style="height: 500px;">
    <div class="background-image"></div>
    <div class="container">
      <h1 style="    justify-content: center;
      padding-top: 250px;
      font-size: 100px;
      font-family: revert;
      font-weight: 600;">Our Team</h1>
      <!-- Other content of the About Us section -->
    </div>
  </div>

  <div class="contact-header">
    <span class="line"></span>
    <h5 >Food Menu</h5>
    <span class="line"></span>
  </div>
  <h1 class="title" style="    color: black;
  font-size: 45px;
  font-family: cursive;
  font-weight: 400;
  margin-left: 550px;
">Our Master Chefs</h1>

<section id="team" class="pb-5">
    <div class="container">
        <!-- <h5 class="section-title h1">OUR TEAM</h5> -->
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let member of TeamMember">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" [src]="member.image" alt="card image"></p>
                                    <h4 class="card-title">{{ member.name }}</h4>
                                    <p class="card-text">{{ member.job }}</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{ member.name }}</h4>
                                    <p class="card-text">{{ member.job | uppercase }}</p>
                                    <!-- Add social links here -->
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook" style="color:orange"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram" style="color:orange"></i></a></li>
                                        <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin" style="color:orange"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
