<div class="about-us"style="height: 500px;">
    <div class="background-image"></div>
    <div class="container">
      <h1 style="    justify-content: center;
      padding-top: 250px;
      font-size: 100px;
      font-family: revert;
      font-weight: 600;">Contact Us</h1>
      <!-- Other content of the About Us section -->
    </div>
  </div>
  <div class="container-fluid" style="background-color: cornsilk;margin-top: 200px;">
    <span class="line" style="  flex-grow: 1;
    height: 1px;
    background-color: #ccc;"></span>
  <div class="contact-header">
    <span class="line"></span>
    <h5 >contactus</h5>
    <span class="line"></span>
  </div>
    <h1 class="text-center my-5" style="  
    font-size: 45px;

    color: black;
    font-family: sans-serif;">Contact For Any Quary</h1>
    
    <div class="row">
      <div class="col-4">
        <div class="divider">
          <span class="text-center">
            <span style="color: orange;    font-family: cursive;">Booking</span>
          </span>
          <hr class="divider-line">
        </div>
        <p class="text-center">
          <i class="fas fa-envelope icon-orange"></i> booking@example.com
        </p>
      </div>
      <div class="col-4">
        <div class="divider">
          <span class="text-center">
            <span style="color: orange;    font-family: cursive;">General</span>
          </span>
          <hr class="divider-line">
        </div>
        <p class="text-center">
          <i class="fas fa-envelope icon-orange"></i> general@example.com
        </p>
      </div>
      <div class="col-4">
        <div class="divider">
          <span class="text-center">
            <span style="color: orange;    font-family: cursive;">Technical</span>
          </span>
          <hr class="divider-line">
        </div>
        <p class="text-center">
          <i class="fas fa-envelope icon-orange"></i> technical@example.com
        </p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-6">  <a href="https://www.google.com/maps/place/New+York,+NY,+USA" target="_blank">
        <img src="..\assets\HILmr.png" alt="Map of New York" class="img-fluid">
      </a>
      </div>
      <div class="col-6">
        <form>
          <div class="form-group row" style="    padding: 10px;">
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col-6">
              <input type="email" class="form-control" placeholder="Email" >
            </div>
          </div>
          <div class="form-group" style="    padding: 10px;">
            <input type="text" class="form-control" placeholder="Subject" >
          </div>
          <div class="form-group"style="    padding: 20px;">
            <textarea class="form-control" rows="3" placeholder="Message" ></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="       padding: 20px;
          width: 500px;
          height: 60px;
          margin-left: 115px;">Submit</button>
        </form>
      </div>
    </div>
  </div>