<section class="h-100 bg-dark" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="..\assets\hero.png"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 " style="color: orange;font-size: 35px;">  <i class="fas fa-utensils"></i>
                    Restoran registration form</h3>
  
                  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            <label class="form-label" for="firstName" style="font-size: 25px; font-family: sans-serif;">First name</label>
                          <input type="text" id="firstName" class="form-control form-control-lg" formControlName="firstName" />
                         
                          <!-- <div *ngIf="f['firstName'].errors?.required && f['firstName'].touched" class="text-danger">First name is required</div>
                         -->
                         <div *ngIf="f['firstName']?.touched && f['firstName']?.invalid" style="color:red;" class="msgerror">
                            <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">First name  is required.</div>
                        </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            <label class="form-label" for="lastName" style="font-size: 25px; font-family: sans-serif;">Last name</label>
                          <input type="text" id="lastName" class="form-control form-control-lg" formControlName="lastName" />
                        
                          <div *ngIf="f['lastName']?.touched && f['lastName']?.invalid" style="color:red;" class="msgerror">
                            <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">lastName  is required.</div>
                        </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                            <label class="form-label" for="address"style="font-size: 25px; font-family: sans-serif;">Address</label>
                          <input type="text" id="address" class="form-control form-control-lg" formControlName="address" />
                        
                          <!-- <div *ngIf="f['address'].errors?.required && f['address'].touched" class="text-danger">Address is required</div> -->
                          <div *ngIf="f['address']?.touched && f['address']?.invalid" style="color:red;" class="msgerror">
                            <div *ngIf="f['address'].errors && f['address'].errors['required']">address  is required.</div>
                        </div>
                        </div>
                      </div>
                      <!-- Add other input fields with similar structure -->
                    <!-- </div> -->
  
                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                      <h6 class="mb-0 me-4">Gender: </h6>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                          value="option1" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                          value="option2" />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
    
                      <div class="form-check form-check-inline mb-0">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                          value="option3" />
                        <label class="form-check-label" for="otherGender">Other</label>
                      </div>
    
                    </div>
    
                  </div>
  
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <select data-mdb-select-init formControlName="state">
                              <option value="">State</option>
                              <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                            </select>
                          </div>
                          
                          <div class="col-md-6 mb-4">
                            <select data-mdb-select-init formControlName="city">
                              <option value="">City</option>
                              <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
                            </select>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div data-mdb-input-init class="form-outline">
                              <label class="form-label" for="password" style="font-size: 25px; font-family: sans-serif;">Password</label>
                              <input type="password" id="password" class="form-control form-control-lg" formControlName="password" />
                              <div *ngIf="f['password']?.touched && f['password']?.invalid" style="color:red;" class="msgerror">
                                <div *ngIf="f['password'].errors && f['password'].errors['required']">*Password  is required.</div>
                            </div>
                          </div>
                        
                          <div class="col-md-6 mb-4">
                            <div data-mdb-input-init class="form-outline">
                              <label class="form-label" for="repeatPassword" style="font-size: 20px; font-family: sans-serif;">Repeat Password</label>
                              <input type="password" id="repeatPassword" class="form-control form-control-lg" formControlName="repeatPassword" style="    width: 260px;"/>
                              <div *ngIf="registrationForm.controls['password'].value !== registrationForm.controls['repeatPassword'].value" style="color:red;" class="msgerror">
                            </div>
                          </div>
                    </div>
                    </div>
                    </div>
                    <!-- Add other input fields with similar structure -->
  
                    <div class="d-flex justify-content-end pt-3">
                      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg"(click)="resetForm()">Reset all</button>
                      <button  class="btn btn-primary btn-lg ms-2" (click)="onSubmit()">Submit form</button>
                    </div>
                  </form>
             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  