<nav  class="navbar navbar-expand-lg navbar-dark"  style="background-color: 	#202020;"  *ngIf="!shouldHideNavbarFooter()">
  <div class="container">
    <!-- Logo and text -->
    <a class="navbar-brand" href="#">
      <i class="fas fa-utensils"></i>
      Restoran
    </a>

    <!-- Another element to the right with margin -->
   <div class="d-flex justify-content-end">
    <div class="mr-auto ml-5" style="margin-left: 300px;">
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="menu">MENU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="coutactus">CONTACT</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PAGES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="Services">Services</a></li>
              <li><a class="dropdown-item" href="ourTeam">Our Team</a></li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login"><i class="fas fa-user" style="    font-size: 15px;
              color: white;">Login</i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Registian">  <i class="fas fa-user-plus" style="    font-size: 15px;
              color: white;">Registration</i>  </a>
          </li>
        </ul>
        
      </div>
    </div>
    <!-- Book table button -->
   
  </div>
  </div>
</nav>


<router-outlet></router-outlet>

<footer class="footer" style="background-color: #202020;margin-top: 400px;" *ngIf="!hideNavbarFooter && !shouldHideNavbarFooter()">

  <div class="container">
    <div class="row">
      <!-- Video Column -->
      <div class="col-md-6">
        <div class="picture-container">
          <!-- Add your pictures here -->
          <img src="..\assets\video.jpg" alt="Picture 1">
        
          <!-- Add more pictures as needed -->
          <div class="video-icon">
            <i class="fa fa-play-circle" ><a src="https://www.youtube.com/embed/your-video-id"></a></i> <!-- Add your video icon here -->
          </div>
        </div>
      </div>
      <!-- Login Column -->
      <div class="col-md-6" style="background-color: #202020;">
        <div class="login-form"style="background-color: #202020;">
          <h1 style="    font-size: 50px;
          color: wheat;">Book A Table Online</h1>
          <form>
            <div class="form-group">
              <label for="name" style="color:white;font-size: 20px;">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="email" style="color:white;font-size: 20px;">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="datetime" style="color:white;font-size: 20px;">Date & Time:</label>
              <input type="datetime-local" class="form-control" id="datetime">
            </div>
            <div class="form-group">
              <label for="people" style="color:white;font-size: 20px;">Number of People:</label>
              <input type="number" class="form-control" id="people" placeholder="Enter number of people">
            </div>
            <div class="form-group">
              <label for="request" style="color:white;font-size: 20px;">Special Request:</label>
              <textarea class="form-control" id="request" rows="3" placeholder="Enter any special requests"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Book Now</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
