<div class="about-us"style="height: 500px;">
    <div class="background-image"></div>
    <div class="container">
      <h1 style="    justify-content: center;
      padding-top: 250px;
      font-size: 100px;
      font-family: revert;
      font-weight: 600;">Services</h1>
      <!-- Other content of the About Us section -->
    </div>
  </div>

  <div class="container" style="margin-top: 60px;">
    <div class="row">
      <div *ngFor="let item of contentArray" class="col-md-4">
        <div class="card mb-4">
          <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
            <i [class]="item.icon"></i>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
          <div class="card-body">
            <h1>{{ item.title| titlecase }}</h1>
           
            <p>{{ item.description | lowercase }}</p>
     
          </div>
        </div>
      </div>
    </div>
  </div>
  